# Default ignored files
/../../GR02_1BP3_622_24A./.idea/shelf/
/../../GR02_1BP3_622_24A./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../GR02_1BP3_622_24A./.idea/httpRequests/
# Datasource local storage ignored files
/../../GR02_1BP3_622_24A./.idea/dataSources/
/../../GR02_1BP3_622_24A./.idea/dataSources.local.xml
